
/* .shape{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40rem;
     transform: rotate(90deg);
     max-height: inherit;
     filter: drop-shadow(0 0 3rem var(--main-color));
    position: relative;
    z-index: 10 !important;
    overflow: hidden;
    background-color: var(--bg-color);
} */
/* .home-content-right img{
     width:39%;
     position: absolute !important;
     top: 17%;
     left: 34%;
     transform: rotate(-90deg);
     z-index: 1 !important;
} */